:root {
    font-family: Inter, sans-serif;
    font-feature-settings:
        "liga" 1,
        "calt" 1; /* fix for Chrome */
    background-color: white;
    color: black;
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

.black {
    background-color: black;
    color: white;
}

.page {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
      min-height: 100vh;
    padding: 2rem;
    padding-top: 5rem;
}

h1 {
    font-size: 4rem;
    margin: .5rem;
